<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/web-server/public/img/icon.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
       <div class="main-content">
           {{>header}}
           <img class="portrait" src="img/code_text_colorful_140555_2560x1080.jpg">
       </div>
    
        {{>footer}}
    </body>
</html>